/* ---General class--- */
:root,
:root.light{
    --color-textcolor: #000000;
    --color-input: #000000;
    --color-bg-gr: #eaeaea;
    --color-grad-dark: #009688;
    --color-grad-light: #d9dbd2;
    --color-bg: #ffffff;
    --bs-border-color: #dee2e6;
    --color-bg-notify: #8edafc;
    --color-bg-notifyicon: #ffffff;
    --color-sendtext: #f3eeea;
    --color-search: #fafafa;
    --color-sent: #d5f9ba;
    --color-received: #ffffff;
    --color-active-user: #e9ebeb;
    --color-icons: #b1b1b1;
    --color-iconschat: #6b7275;
    --chat-url: url('../img/mine.jpg');
    --char-blank-url: url(../img/blank-chat.png);
}

:root.dark{
    --color-textcolor: #ffffff;
    --color-input: #ffffff;
    --color-bg-gr: #202c33;
    --color-grad-dark: #111b21;
    --color-grad-light: #111b21;
    --color-bg: #111b21;
    --bs-border-color: #6b7275;
    --color-bg-notify: #182229;
    --color-bg-notifyicon: #00a884;
    --color-sendtext: #2a3942;
    --color-search: #202c33;
    --color-sent: #005c4b;
    --color-received: #202c33;
    --color-active-user: #2a3942;
    --color-icons: #aebac1;
    --color-iconschat: #8696a0;
    --chat-url: url('../img/minedark.jpg');
    --char-blank-url: url(../img/blank-chatdark.png);
}

::placeholder{
    color: var(--color-textcolor);
}

input{
    color: var(--color-input);
}

.my-bg-grey{
    background-color: var(--color-bg-gr);
}

body{
    background: linear-gradient(180deg, var(--color-grad-dark) 15%, var(--color-grad-light) 15%);
    height: 100vh;
    color: var(--color-textcolor);
}

#app{
    width: 80vw;
    height: 95vh;
    background-color: var(--color-bg);
}

.br{
    border: 1px solid var(--color-border);
}

.leftsection, .rightsection{
    height: 95vh;
}

.leftsection{
    min-width: 350px;
}

.rightsection{
    min-width: 550px;
}

.row{
    flex-wrap: nowrap;
}

.profile, .userchat, .sendtext{
    height: 72px;
}

.getnotify{
    height: 87px;
    background-color: var(--color-bg-notify);
}

.chats{
    height: 100%;
}

.chat{
    height: 100%;
    background-image: var(--chat-url);
}

.avatar{
    border-radius: 50%;
    height: 55px;
    aspect-ratio: 1;
    margin: 0.6rem;
}

.rightsection{
    position: relative;
}

.loader{
    background-image: url(../img/loading.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

/* ---Animation of loader--- */
.animation{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin-top: 35vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.blank-chat{
    background-image: var(--char-blank-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

i{
    font-size: 25px;
    color: var(--color-icons);
    margin: 10px;
    cursor: pointer;
}

i.fa-comment-medical:hover, i.dropdown-toggle:hover, i.fa-paper-plane:hover, i.fa-xmark:hover, i.fa-face-smile.my-auto:hover{
    color: #00a884;
}

.bell{
    background-color: var(--color-bg-notifyicon);
    border-radius: 50%;
    height: 55px;
    aspect-ratio: 1;
    margin: 1rem;
}

i.fa-bell-slash{
    color: var(--color-bg-notify);
}

.notification{
    font-size: 0.9rem;
    text-decoration: underline;
}

.sendtext{
    background-color: var(--color-sendtext);
}

i.fa-microphone, i.fa-face-smile, i.fa-paper-plane, i.fa-xmark{
    color: var(--color-iconschat);
    font-size: 30px;
}

i.fa-paper-plane, i.deactive{
    display: none;
}

i.active{
    display: block;
}

.sendtext input{
    background-color: var(--color-bg);
    width: 100%;
    border: none;
    padding: 15px;
    height: 45px;
}

.searchchat{
    background-color: var(--color-search);
}
.searchchat input{
    background-color: var(--color-bg);
    width: 100%;
    border: none;
    font-size: 15px;
    padding-left: 5px;
}

.searchchat i{
    background-color: var(--color-bg);
    font-size: 15px;
    padding: 10px 30px;
}

p.time{
    font-size: 0.8rem;
}


.chat div div{
    width: 300px;
    padding: 12px 15px;
    margin: 10px 100px;
    border-radius: 10px;
    background-color: var(--color-bg-notify);
    position: relative;
}

.chat .sent{
    background-color: var(--color-sent);
    align-self: end;
}

.chat .received{
    background-color: var(--color-received);
    align-self: start;
}

.msgtime{
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
}

div.activeuser{
    cursor: pointer;
}

.contact-tab{
    display: none;
}

.contact-tab.visible{
    display: block;
}

.activeuser.active{
    background-color: var(--color-active-user);
}

.activeuser p{
    font-size: 0.8rem;
}

.chat i{
    position: absolute;
    top: 5px;
    right: 7px;
    display: none;
}

.chat div div:hover i{
    display: block;
}

.chat i::after{
    content: none;
}

.rightuser i::after{
    content: none;
}

i.fa-face-smile{
    position: relative;
}

.emojisearch{
    font-family: sans-serif;
    font-size: initial;
    height: 25px;
}

div.emojibox{
    position: absolute;
    height: 350px;
    width: 330px;
    background-color: var(--color-sendtext);
    bottom: 47px;
    left: -167px;
    padding: 1rem;
}

.emojisection{
    width: 100%;
    margin: 16px 0 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

span.emoji{  
    height: 23px;
    width: calc(100% / 10);
    font-size: 20px;
    display: none;
    margin-top: 7px;
    color: var(--color-iconschat);
}

span.emoji.visible{  
    display: block;
}

i.fa-xmark{
    padding-top: 5px;
}

/* ---Darkmode switch--- */
label#dark-label {
	width:50px;
	height:25px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 25px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
    margin: -3px;
}
label#dark-label:after {
	content: "";
	width:18px;
	height: 18px;
	position: absolute;
	top:4px;
	left:4px;
	background: linear-gradient(180deg,#005c4b,#00a884);
	border-radius: 18px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
}
input#darkmode-toggle {
	width: 0;
	height: 0;
	visibility: hidden;
}
input#darkmode-toggle:checked + label#dark-label {
	background: #242424;
}
input#darkmode-toggle:checked + label#dark-label:after {
	left:60px;
	transform: translateX(-178%);
	background: linear-gradient(180deg,#00a884,#d5f9ba);
}
label#dark-label:active:after{
	width: 30px;
}

input#darkmode-toggle:checked + label#dark-label + .background {
	background:#242424;
}
label#dark-label img {
	position: absolute;
	width: 14px;
	top: 6px;
	z-index: 1;
}
label#dark-label img.sun {
	left:6px;
	fill:#000;
	transition: 0.3s;
}
label#dark-label img.moon {
	left:30px;
	fill:#7e7e7e;
	transition: 0.3s;
}